name: Deploy
on:
  # Triggers the workflow on push actions on main branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  copy-files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2   
        
      - name: Copy posts from madrasdev/posts to madrasdev/blog
        uses: andstor/copycat-action@v3
        with:
          personal_token: ${{ secrets.API_TOKEN_GITHUB }}
          src_path: /.
          file_filter: "*.md"
          exclude: "README.md"
          dst_path: /content/post
          dst_owner: madrasdev
          dst_repo_name: blog      
        